@import "../base/settings.scss";

.description-container {
  border-left: 2px solid $blue;
  margin: 0 auto;
  width: 70%;
  background: #f2f2f2;
  padding: 20px;
  margin-top: 10%;
}

.description {
  text-align: center;
}
